stages:
    - build
    - test
    - deploy
    - review
    - dast
    - staging
    - canary
    - production
    - incremental rollout 10%
    - incremental rollout 25%
    - incremental rollout 50%
    - incremental rollout 100%
    - performance
    - cleanup
    - push

#publiccode:
#    stage: build
#    allow_failure: true
#    script:
#      - docker run -i italia/publiccode-parser-go:v4.3.4 /dev/stdin < publiccode.yml

include:
    - project: 'opencity-labs/product'
      ref: main
      file: '.gitlab/ci/devops.yml'

# vim: set noet sw=4 ts=4:

